

 
<% @orders.each do |p| %>
Name of the Company: <%= p.name %><br>
Address:             <%= p.address %><br>
Brewery_type:        <%= p.brewery_type %> <br>    
Phone:               <%= p.phone %> <br> 

<if User.find(session(:user_id))== p.user %>
<a href="/orders/<%= p.id %>/edit"></a>   
<br></br> 
<% end %>





