
<h3> Please select our companies to edit </h3>
 
<% @orders.each do |p| %>
<p>Name of the Company: <%= p.name %> - <%= p.id %><br>
Address:             <%= p.address %><br>
Brewery_type:        <%= p.brewery_type %> <br>    
Phone:               <%= p.phone %> <br> 
  
<% if current_user == p.user %>
        <a href="/orders/ <%= p.id %>edit">Edit</a><br>
        <a href="/orders/<%= p.id %>delete">Delete</a>
    <% end %>
  </p>
<% end %>




