Name: <%= @order.name %><br>
Address: <%=@order.address %><br>
Brewery Type: <%=@order.brewery_type %><br>
Phone: <%= @order.phone %><br>
 


<a href="/orders/<%= @order.id %>/edit"><input type=Submit value="Edit Order"></a>

 <form action="/orders/<%= @order.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type=Submit value="Delete Order">
</form>